langchain
langchain-community
ipykernel
bs4
wikipedia 
arxiv
pymupdf
pypdf
jq
langchain-text-splitters
langchain-huggingface
sentence-transformers
langchain-groq
streamlit
faiss-cpu
chromadb 
langchain-classic
chardet
validators
unstructured
youtube-transcript-api
pytube
